@import './index.scss';

.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headercontainer{
    padding-top: 50px;
    font-size: 38px;
    z-index: 1;

    @media (max-width: 800px) {
        font-size: 35px;
    }
}

.headertitle{
    font-weight: 600;
}