@import "../../index.scss";

.singleTask{
    display: flex;
    width: 100%;
    max-width: 100%;
    border-radius: 5px;
    padding: 20px 20px 18px 20px;
    background-color: $bg-element3;
    align-items: baseline;
    justify-content: space-between;
    gap: 10px;
    transition: background-color $transition03, box-shadow $transition03;
    &:hover{
        background-color: $bg-element3-hover;
        // transform: scale(1.02);
        box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.7);
    }
    &[data-iscomplited="true"]{
        background-color: $bg-element5;
    }
    &[data-iscomplited="true"]:hover{
        background-color: $bg-element5-hover;
        transform: scale(1.02);
        box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.7);
    }
    &[data-isdragging="true"]{
        box-shadow: 0px 0px 15px hsla(0, 0%, 0%, 0.7);
    }
}
.singletext{
    min-height: 25px;
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 2px;
}
.singleinput{
    font-weight: 500;
    font-size: 20px;
    background-color: transparent;
    color: inherit;
    max-height: 100%;
    width: 100%;
    border-bottom: 1px solid $bg-color;
    padding-bottom: 2px;
    transition: $transition03;
    &:focus{
        border-bottom-color: $white;
    }
}
.icons{
    font-size: 20px;
    color: $bg-color;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.icon{
    cursor: pointer;
    transition: $transition03;
    &:hover{
        transform: scale(1.05) translateY(-2px);
        color: $white;
    }
    &[data-ishidden="true"]{
        opacity: 0;
        pointer-events: none;
    }
}
